<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_2hS5_q35UKdhTKR6Yz_VKRUaqP4SPvI</string>
	<key>GCM_SENDER_ID</key>
	<string>676659373090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qq.ListAppTest</string>
	<key>PROJECT_ID</key>
	<string>listapptest-c3dba</string>
	<key>STORAGE_BUCKET</key>
	<string>listapptest-c3dba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676659373090:ios:8d97af4d010bf4ad0cd67b</string>
</dict>
</plist>